include README.md
include requirements.txt
include DISTRIBUTION.md
include LICENSE
recursive-include .github *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
